<header>
  <div class="container">
    <!-- add a logo which has appropriate sizes-->
    <!-- <a routerLink="/"
      ><img src="assets/logo.jpeg" alt="logo" style="width: 80px; height: auto"
    /></a> -->
    <a routerLink="/" class="logo">Pizzeria</a>

    <nav>
      <ul>
        <li>
          <a routerLink="/order-pizza">Order Pizza</a>
        </li>
        <li>
          <a routerLink="/custom-pizza">Custom Pizza</a>
          <!-- New button for custom pizza -->
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
